attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-datetime==0.2
contamehistorias @ git+https://github.com/LIAAD/TemporalSummarizationFramework.git@ed8be0b0efc8eda22c0ca09a785ef1f8a277f1b1
decorator==4.4.2
elasticsearch==7.10.1
flasgger==0.9.5
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jellyfish==0.8.2
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
MarkupSafe==1.1.1
mediacloud==3.12.1
mistune==0.8.4
networkx==2.5
nltk==3.5
numpy==1.20.1
pampo @ git+https://github.com/LIAAD/py-pampo.git@ac53ef1183f9f839b503e42458f99d1f1c699468
pandas==1.2.2
pyrsistent==0.17.3
python-dateutil==2.8.1
python-pcre==0.7
pytz==2021.1
PyYAML==5.4.1
recordclass==0.14.3
redis==3.5.3
regex==2020.11.13
rejson==0.5.4
requests==2.25.1
scipy==1.6.0
segtok==1.5.10
six==1.15.0
stop-words==2018.7.23
tqdm==4.56.1
Unidecode==1.2.0
urllib3==1.26.3
Werkzeug==1.0.1
